#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}

.eightBall-output {
  margin: auto;
}

.form {
  margin: auto;
}

.form-input {
  margin: auto;
}

.form-button {
  margin: auto;
}